html,
body {
  margin: 0;
  font-family: sans-serif;
}

html,
body,
#root,
.App {
  height: 100%;
}

.rgt-cell:not(.rgt-row-edit):not(.rgt-row-not-selectable) {
  cursor: pointer;
}

.rgt-row-selected {
  background: #f3f6f9;
}

.rgt-row-hover {
  background: #f7f7f7;
}
