.switch {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  scale: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .slider {
    scale: 0.75;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 66vw;
}

.search-bar {
  width: 100%;
  height: 40px;
  background: #f0f0f0;
  border: 0.1px solid rgb(213, 208, 208);
  border-radius: 8px;
  padding-left: 15px;
  margin-left: 10px;
}

.search-bar:focus {
  outline: 0.1px solid rgb(213, 208, 208);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    align-items: center;
  }
}

.switch-container {
  display: flex;
  align-items: center;
}

.left-txt {
  font-size: 20px;
}

.rgt-txt {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .left-txt {
    font-size: 14px;
  }
  .rgt-txt {
    font-size: 14px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-divider {
  position: relative;
  width: 100%;
}

.clear-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 7px;
}
